* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchbar {
  height: 25px;
}

.navbar {
  background: purple;
}

.navbar a {
  font-weight: bold;
  color: purple;
}

.navbar ul {
  list-style-type: none;
}

ol li {
  font-size: 14px;
}

.trending {
  height: 200px;
}

.media h5 {
  color: darkblue;
  font-weight: bold;
}

.media img {
  float: left;
}

.searchwrapper img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.searchwrapper {
  position: relative;
}

.menu {
  background: white;
}

.signin {
  background: white;
  color: purple;
  font-weight: bold;
}

.bell {
  filter: invert(1);
}

.mail {
  filter: invert(1);
}

.navbar a {
  color: white;
}

.menu a {
  color: purple;
}
